#editpannel{
  visibility:hidden;
}

/* Profile container */

.logoitec{
  max-width: 100px;
  height: auto;
}
.footer {
            background-color: #fffff;
            width: 100%;
            bottom: 0;
            position: fixed;
            text-align: right;
            margin-right: 50px;
        }


.wrapmenu{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.content{
  margin-top: 200px;
  margin-right: 50px;
  margin-left: 50px;
}
/* Search form*/
#searchedlist{
  margin-right:50px;
  position: relative;
}
/*end /
/*modal pop up*/
.modal{

  position:fixed;
      top: 50%;
      left: 50%;
      width:30em;
      height:18em;
      margin-top: -9em; /*set to a negative number 1/2 of your height*/
      margin-left: -15em; /*set to a negative number 1/2 of your width*/
      border: 1px solid #ccc;
      background-color: #f3f3f3;
      display: none
}
.modal-header{
  background-color: white;
}
.row_checkbox{
  width:300px; margin:0 auto;
}
.thead input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
